<!DOCTYPE html>
<html lang="en">
  
<%- include('partials/head.ejs') %>

  <body>
    
    <%- include('partials/header.ejs') %>
    <div class="alert alert-success fade show" style="display:none" role="alert" id="successAlert">
      <p style="text-align: center;"><i class="bi bi-patch-check-fill"></i>
          Money Transfer Successfully   </p>
  </div>

    <section class="text-section">
        <div data-aos="fade-up">
            <h2>
            OUR CUSTOMERS
            </h2>
        </div>
    </section>

    <section class="table-section">
        <div>
        <table class="table table-bordered table-responsive">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col" class="text-center">Current Balance</th>
                <th scope="col" class="text-center">Transfer Money</th>
              </tr>
            </thead>
            <tbody>
                <% customers.forEach(item => { %>
              <tr>
                <th scope="row"><a href="/customers/<%= item.id%>"> <%= item.name %> </a> </th>
                <td> <%= item.email %> </td>
                <td class="text-center"> <%= item.balance %> $</td>
                <td class="text-center"><button onclick="location.href='./transfer'">Transfer</button></td>
              </tr>
           <% }); %>
            </tbody>
          </table>
        </div>
    </section>

    <%- include('partials/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>

  </body>
</html>